{% extends "admin.html" %}
{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" media="screen" href="/static/handsontable-master/dist/handsontable.full.css">
<script src="/static/handsontable-master/handsontable.full.js"></script>


<style>
  .dataTable thead th{
    text-align: center;
    color : white;
    background-color : #99d6F0;
    font-size:1.1em;


  }
  .datatable td{
    font-size: 1.1em;
  }
  .even{
    background-color:#def0f9 ! important;
  }
  .even .sorting_1{
    background-color:#def0f9 ! important;
  }
.odd .sorting_1{
    background-color:#f9f9f9 ! important;
}
</style>

<div class="col-md-11">
<h2>BOSS Price List</h2>
  <div class="box">
    <div class="box-body">
      <button id="save_client" class="btn btn-success col-md-7">Submit</button>
    </div>
  </div>
</div>
<p></p>
<div class="col-md-12">    
  <div class="form-group" style="height:100%;overflow-y:auto;overflow-x:auto;">
    <div id="view_data" ></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
  var invoice_on = 0;
  var invoice_table_container = document.getElementById("view_data");
  var invoice_on = new Handsontable(invoice_table_container, {
  colHeaders   : ['ID','Client Name','Project Name','Currency Type','Duration','Price','Price Type','Rate','Customer GSTIN','Voyage Manager'],
  minSpareRows: 0,
  columns:
  [
    {data : 'id'},
    {data : 'client_name'},
    {data : 'proj_type',type: 'dropdown',source: ['BOSS','CHM']},
    {data : 'curr_type',type: 'dropdown',source:['USD','INR']},
    {data : 'dur_type',type: 'dropdown',source:['Monthwise','Voyagewise','M/V']},

    {data : 'price',type: 'text'},
    {data : 'price_type',type: 'text'},
    {data : 'rate',type: 'text'},
    {data : 'tin_number',type: 'text'},
    {data : 'vm_name',type: 'text'},
  ], 

    cells: function (row, col, prop) {
      var cellProperties = {}
      if( col === 0 ) {
        cellProperties.readOnly = true;
      }     
      return cellProperties;
    }       
  });
  
    $.ajax({
        url      : '/it/load_boss_client/',
        type     : 'GET',
        dataType : 'JSON',
        data:{
          
        },
        success: function(obj){ 
          invoice_on.loadData(obj['cl_list']);
          var table_container = invoice_on.getData();
          get_saving(table_container);
          update_saving(table_container);
        },
        error: function(err){
        
      }
    });
});


function get_saving(table_container){
 $.ajax({
      url      : '/it/saving_boss_fetching_data/',
      type     : 'POST',
      dataType : 'JSON',
      data:{
        'table_container' : JSON.stringify(table_container),
      },
      success: function(obj){ 
        
      },
      error: function(err){
        //alert(JSON.stringify(err,null,4))
      }
  });
}

function update_saving(table_container)
{
  $('#save_client').click(function(){
  // location.href = '/it/view_boss_client/';
  $.ajax({
      url      : '/it/update_boss_client_details/',
      type     : 'POST',
      dataType : 'JSON',
      data:{
        'table_container' : JSON.stringify(table_container),
      },
      success: function(obj){ 
        alert('Done');        
      },
      error: function(err){
        alert(JSON.stringify(err,null,4))
      }
    });
  })
}


</script>


{% endblock %}
