<div style="margin-top:3px;border-top:0px solid #c4c3c2;padding-bottom: 20px"><center style="font-family: arial; font-size: 8pt;">BlueWater Trade Winds Pvt. Ltd.</center>
<center style="font-family: arial; font-size: 8pt;">4, Siddarth Enclave, GMS Road, Ballupur, Dehradun - 248001 Uttarkhand INDIA<br /> Corporate Email: accounts@bwesglobal.com Website:www.bwesglobal.com</center>
<div>
<div style="padding:2px;margin-bottom:0px;display:''" colspan="6" align="right"><img src="/var/www/html/invoice/it/static/pdf/rings.png" width="95" height="36" style="float:right;margin-bottom:50px;margin-top:-44px;;margin-right:-26px;margin-right:27px" /><br />
<span style="font-family: Arial, Helvetica, sans-serif; font-size: 7pt;float:right;margin-top:-29px;margin-right:-119px;">Visit us at : www.bwesglobal.com</span>
</div>