.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc3{color:rgb(0,102,0);}
.fc1{color:rgb(51,51,51);}
.fc2{color:rgb(50,50,150);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:25.200000px;}
.fs7{font-size:26.400000px;}
.fs0{font-size:28.800000px;}
.fs6{font-size:30.240000px;}
.fs5{font-size:33.600000px;}
.fs4{font-size:35.520000px;}
.fs2{font-size:37.440000px;}
.fs3{font-size:41.280000px;}
.y3b{bottom:2.051800px;}
.y39{bottom:2.255200px;}
.y35{bottom:2.297900px;}
.y18{bottom:2.534900px;}
.ya{bottom:2.636500px;}
.y7{bottom:2.636600px;}
.y14{bottom:2.636700px;}
.y23{bottom:2.771900px;}
.y1b{bottom:2.873600px;}
.y37{bottom:3.652500px;}
.y21{bottom:3.652600px;}
.y33{bottom:3.787900px;}
.yc{bottom:3.856100px;}
.y1f{bottom:4.081500px;}
.y31{bottom:5.216300px;}
.y5{bottom:5.345900px;}
.y11{bottom:8.055200px;}
.y19{bottom:13.372100px;}
.yf{bottom:13.812400px;}
.y30{bottom:17.408100px;}
.y10{bottom:19.569700px;}
.y3{bottom:20.546700px;}
.y3a{bottom:22.564500px;}
.y2{bottom:28.796700px;}
.y2f{bottom:29.600000px;}
.y0{bottom:31.000000px;}
.y1{bottom:38.352500px;}
.y2e{bottom:41.791800px;}
.y38{bottom:57.108100px;}
.y36{bottom:76.931200px;}
.y34{bottom:90.477700px;}
.y2d{bottom:90.477800px;}
.y32{bottom:128.407900px;}
.y2c{bottom:154.146300px;}
.y2b{bottom:170.402000px;}
.y2a{bottom:181.916600px;}
.y29{bottom:193.431100px;}
.y28{bottom:204.945600px;}
.y27{bottom:216.460200px;}
.y26{bottom:232.716000px;}
.y25{bottom:244.230500px;}
.y24{bottom:259.312300px;}
.y22{bottom:270.826800px;}
.y20{bottom:282.341300px;}
.y1e{bottom:301.983700px;}
.y1d{bottom:316.388100px;}
.y1c{bottom:329.934600px;}
.y1a{bottom:481.655400px;}
.y17{bottom:493.169900px;}
.y16{bottom:536.022000px;}
.y15{bottom:551.600400px;}
.y13{bottom:568.533500px;}
.y12{bottom:584.789300px;}
.ye{bottom:599.871100px;}
.yd{bottom:616.804200px;}
.yb{bottom:633.737300px;}
.y9{bottom:668.958200px;}
.y8{bottom:680.472700px;}
.y6{bottom:691.987200px;}
.y4{bottom:703.501700px;}
.h15{height:10.337200px;}
.h6{height:11.014500px;}
.ha{height:11.014600px;}
.h16{height:11.691800px;}
.hb{height:11.691900px;}
.hf{height:13.046500px;}
.h10{height:13.904400px;}
.h4{height:16.433100px;}
.h3{height:18.370898px;}
.h18{height:19.219922px;}
.h2{height:20.981250px;}
.h17{height:21.646406px;}
.hc{height:22.529100px;}
.h14{height:24.051562px;}
.h13{height:24.461719px;}
.h11{height:24.478125px;}
.hd{height:25.876875px;}
.he{height:25.894219px;}
.h5{height:27.275625px;}
.h7{height:27.293906px;}
.h8{height:30.052969px;}
.h9{height:33.366200px;}
.h12{height:50.976600px;}
.h1{height:750.500000px;}
.h0{height:805.174400px;}
.we{width:33.611900px;}
.wa{width:48.443200px;}
.w10{width:52.151000px;}
.w5{width:57.342000px;}
.w6{width:59.566700px;}
.w12{width:61.791400px;}
.w11{width:78.847300px;}
.w4{width:90.712300px;}
.w7{width:100.352700px;}
.w3{width:101.094300px;}
.w17{width:103.833000px;}
.w13{width:109.993100px;}
.w8{width:124.824300px;}
.wf{width:131.498400px;}
.w9{width:136.689300px;}
.w15{width:165.610300px;}
.wb{width:189.340400px;}
.w2{width:225.677000px;}
.w16{width:276.844900px;}
.w14{width:329.495900px;}
.wd{width:365.832600px;}
.wc{width:466.685300px;}
.w1{width:478.000000px;}
.w0{width:595.706200px;}
.x5{left:1.738700px;}
.x13{left:2.886900px;}
.xd{left:4.448200px;}
.x14{left:5.480200px;}
.x1b{left:7.581900px;}
.xb{left:8.943600px;}
.x16{left:10.815100px;}
.x1a{left:12.033400px;}
.x18{left:14.336600px;}
.x12{left:15.711100px;}
.xa{left:17.675600px;}
.x19{left:21.752300px;}
.xc{left:23.087100px;}
.x1d{left:27.213900px;}
.x17{left:29.557200px;}
.x11{left:34.155400px;}
.x1c{left:37.564100px;}
.x0{left:59.000000px;}
.x4{left:64.510400px;}
.x1e{left:76.199300px;}
.x10{left:98.622300px;}
.x3{left:153.965100px;}
.x9{left:165.363100px;}
.x2{left:188.067600px;}
.xf{left:200.829500px;}
.x8{left:230.620700px;}
.x1{left:241.248000px;}
.x6{left:292.912100px;}
.xe{left:341.855300px;}
.x7{left:394.506400px;}
.x1f{left:405.706600px;}
.x15{left:452.348400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:33.600000pt;}
.fs7{font-size:35.200000pt;}
.fs0{font-size:38.400000pt;}
.fs6{font-size:40.320000pt;}
.fs5{font-size:44.800000pt;}
.fs4{font-size:47.360000pt;}
.fs2{font-size:49.920000pt;}
.fs3{font-size:55.040000pt;}
.y3b{bottom:2.735733pt;}
.y39{bottom:3.006933pt;}
.y35{bottom:3.063867pt;}
.y18{bottom:3.379867pt;}
.ya{bottom:3.515333pt;}
.y7{bottom:3.515467pt;}
.y14{bottom:3.515600pt;}
.y23{bottom:3.695867pt;}
.y1b{bottom:3.831467pt;}
.y37{bottom:4.870000pt;}
.y21{bottom:4.870133pt;}
.y33{bottom:5.050533pt;}
.yc{bottom:5.141467pt;}
.y1f{bottom:5.442000pt;}
.y31{bottom:6.955067pt;}
.y5{bottom:7.127867pt;}
.y11{bottom:10.740267pt;}
.y19{bottom:17.829467pt;}
.yf{bottom:18.416533pt;}
.y30{bottom:23.210800pt;}
.y10{bottom:26.092933pt;}
.y3{bottom:27.395600pt;}
.y3a{bottom:30.086000pt;}
.y2{bottom:38.395600pt;}
.y2f{bottom:39.466667pt;}
.y0{bottom:41.333333pt;}
.y1{bottom:51.136667pt;}
.y2e{bottom:55.722400pt;}
.y38{bottom:76.144133pt;}
.y36{bottom:102.574933pt;}
.y34{bottom:120.636933pt;}
.y2d{bottom:120.637067pt;}
.y32{bottom:171.210533pt;}
.y2c{bottom:205.528400pt;}
.y2b{bottom:227.202667pt;}
.y2a{bottom:242.555467pt;}
.y29{bottom:257.908133pt;}
.y28{bottom:273.260800pt;}
.y27{bottom:288.613600pt;}
.y26{bottom:310.288000pt;}
.y25{bottom:325.640667pt;}
.y24{bottom:345.749733pt;}
.y22{bottom:361.102400pt;}
.y20{bottom:376.455067pt;}
.y1e{bottom:402.644933pt;}
.y1d{bottom:421.850800pt;}
.y1c{bottom:439.912800pt;}
.y1a{bottom:642.207200pt;}
.y17{bottom:657.559867pt;}
.y16{bottom:714.696000pt;}
.y15{bottom:735.467200pt;}
.y13{bottom:758.044667pt;}
.y12{bottom:779.719067pt;}
.ye{bottom:799.828133pt;}
.yd{bottom:822.405600pt;}
.yb{bottom:844.983067pt;}
.y9{bottom:891.944267pt;}
.y8{bottom:907.296933pt;}
.y6{bottom:922.649600pt;}
.y4{bottom:938.002267pt;}
.h15{height:13.782933pt;}
.h6{height:14.686000pt;}
.ha{height:14.686133pt;}
.h16{height:15.589067pt;}
.hb{height:15.589200pt;}
.hf{height:17.395333pt;}
.h10{height:18.539200pt;}
.h4{height:21.910800pt;}
.h3{height:24.494531pt;}
.h18{height:25.626562pt;}
.h2{height:27.975000pt;}
.h17{height:28.861875pt;}
.hc{height:30.038800pt;}
.h14{height:32.068750pt;}
.h13{height:32.615625pt;}
.h11{height:32.637500pt;}
.hd{height:34.502500pt;}
.he{height:34.525625pt;}
.h5{height:36.367500pt;}
.h7{height:36.391875pt;}
.h8{height:40.070625pt;}
.h9{height:44.488267pt;}
.h12{height:67.968800pt;}
.h1{height:1000.666667pt;}
.h0{height:1073.565867pt;}
.we{width:44.815867pt;}
.wa{width:64.590933pt;}
.w10{width:69.534667pt;}
.w5{width:76.456000pt;}
.w6{width:79.422267pt;}
.w12{width:82.388533pt;}
.w11{width:105.129733pt;}
.w4{width:120.949733pt;}
.w7{width:133.803600pt;}
.w3{width:134.792400pt;}
.w17{width:138.444000pt;}
.w13{width:146.657467pt;}
.w8{width:166.432400pt;}
.wf{width:175.331200pt;}
.w9{width:182.252400pt;}
.w15{width:220.813733pt;}
.wb{width:252.453867pt;}
.w2{width:300.902667pt;}
.w16{width:369.126533pt;}
.w14{width:439.327867pt;}
.wd{width:487.776800pt;}
.wc{width:622.247067pt;}
.w1{width:637.333333pt;}
.w0{width:794.274933pt;}
.x5{left:2.318267pt;}
.x13{left:3.849200pt;}
.xd{left:5.930933pt;}
.x14{left:7.306933pt;}
.x1b{left:10.109200pt;}
.xb{left:11.924800pt;}
.x16{left:14.420133pt;}
.x1a{left:16.044533pt;}
.x18{left:19.115467pt;}
.x12{left:20.948133pt;}
.xa{left:23.567467pt;}
.x19{left:29.003067pt;}
.xc{left:30.782800pt;}
.x1d{left:36.285200pt;}
.x17{left:39.409600pt;}
.x11{left:45.540533pt;}
.x1c{left:50.085467pt;}
.x0{left:78.666667pt;}
.x4{left:86.013867pt;}
.x1e{left:101.599067pt;}
.x10{left:131.496400pt;}
.x3{left:205.286800pt;}
.x9{left:220.484133pt;}
.x2{left:250.756800pt;}
.xf{left:267.772667pt;}
.x8{left:307.494267pt;}
.x1{left:321.664000pt;}
.x6{left:390.549467pt;}
.xe{left:455.807067pt;}
.x7{left:526.008533pt;}
.x1f{left:540.942133pt;}
.x15{left:603.131200pt;}
}
