.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(51,51,51);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:27.000000px;}
.fs5{font-size:27.840000px;}
.fs0{font-size:31.000000px;}
.fs4{font-size:32.160000px;}
.fs3{font-size:36.000000px;}
.fs2{font-size:39.840000px;}
.y7{bottom:1.860700px;}
.y28{bottom:2.194000px;}
.y26{bottom:2.422800px;}
.y22{bottom:2.626400px;}
.yc{bottom:2.829700px;}
.y5{bottom:2.829800px;}
.y17{bottom:2.926700px;}
.y3{bottom:19.139400px;}
.y2{bottom:27.389400px;}
.y27{bottom:27.532800px;}
.y1{bottom:35.484100px;}
.y0{bottom:38.000000px;}
.y25{bottom:65.182000px;}
.y24{bottom:102.831200px;}
.y23{bottom:115.381000px;}
.y21{bottom:145.955800px;}
.y20{bottom:167.227500px;}
.y1f{bottom:192.326900px;}
.y1e{bottom:204.876700px;}
.y1d{bottom:217.426400px;}
.y1c{bottom:229.976200px;}
.y1b{bottom:242.525900px;}
.y1a{bottom:267.625400px;}
.y19{bottom:280.175100px;}
.y18{bottom:305.274600px;}
.y16{bottom:330.374100px;}
.y15{bottom:368.023400px;}
.y14{bottom:580.206100px;}
.y13{bottom:592.562000px;}
.y12{bottom:604.917900px;}
.y11{bottom:626.189500px;}
.y10{bottom:642.906400px;}
.yf{bottom:660.350000px;}
.ye{bottom:677.793700px;}
.yd{bottom:693.977500px;}
.yb{bottom:706.333500px;}
.ya{bottom:718.689400px;}
.y9{bottom:731.045300px;}
.y8{bottom:743.401200px;}
.y6{bottom:755.757200px;}
.y4{bottom:768.113100px;}
.h4{height:11.855900px;}
.h7{height:11.856000px;}
.h8{height:12.049700px;}
.h9{height:12.049800px;}
.h3{height:19.683105px;}
.hc{height:19.928438px;}
.h2{height:22.568848px;}
.hb{height:23.020781px;}
.ha{height:25.769531px;}
.h5{height:29.004609px;}
.h6{height:29.043516px;}
.h1{height:809.000000px;}
.h0{height:865.985000px;}
.w10{width:43.692100px;}
.w5{width:47.637800px;}
.wb{width:68.155500px;}
.w13{width:76.047000px;}
.w9{width:91.829800px;}
.wa{width:91.829900px;}
.wc{width:95.775600px;}
.w14{width:110.887100px;}
.w4{width:112.347600px;}
.w8{width:117.082500px;}
.w6{width:118.660700px;}
.w7{width:160.485400px;}
.w3{width:166.798500px;}
.w2{width:209.412300px;}
.w12{width:215.725500px;}
.wf{width:286.748400px;}
.w11{width:334.886200px;}
.we{width:399.596000px;}
.wd{width:495.871600px;}
.w1{width:507.500000px;}
.w0{width:572.011100px;}
.x5{left:1.802200px;}
.x1e{left:5.356800px;}
.x16{left:7.770100px;}
.x12{left:10.824000px;}
.x1b{left:12.145900px;}
.x18{left:14.133700px;}
.x19{left:15.269000px;}
.x1a{left:16.306800px;}
.x8{left:18.191400px;}
.x1d{left:19.343600px;}
.xc{left:20.614900px;}
.xb{left:23.730700px;}
.x20{left:25.760700px;}
.xa{left:29.269900px;}
.x11{left:32.081300px;}
.x0{left:37.000000px;}
.x4{left:42.804600px;}
.xe{left:69.323500px;}
.x10{left:90.906800px;}
.x17{left:107.937900px;}
.x3{left:131.839900px;}
.x14{left:139.080200px;}
.xd{left:160.387100px;}
.x2{left:168.378200px;}
.x13{left:213.338400px;}
.x15{left:222.192000px;}
.x1{left:225.076500px;}
.x6{left:259.030100px;}
.x1c{left:349.125700px;}
.x9{left:378.190800px;}
.x1f{left:418.499200px;}
.x7{left:426.328600px;}
.xf{left:470.520700px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:36.000000pt;}
.fs5{font-size:37.120000pt;}
.fs0{font-size:41.333333pt;}
.fs4{font-size:42.880000pt;}
.fs3{font-size:48.000000pt;}
.fs2{font-size:53.120000pt;}
.y7{bottom:2.480933pt;}
.y28{bottom:2.925333pt;}
.y26{bottom:3.230400pt;}
.y22{bottom:3.501867pt;}
.yc{bottom:3.772933pt;}
.y5{bottom:3.773067pt;}
.y17{bottom:3.902267pt;}
.y3{bottom:25.519200pt;}
.y2{bottom:36.519200pt;}
.y27{bottom:36.710400pt;}
.y1{bottom:47.312133pt;}
.y0{bottom:50.666667pt;}
.y25{bottom:86.909333pt;}
.y24{bottom:137.108267pt;}
.y23{bottom:153.841333pt;}
.y21{bottom:194.607733pt;}
.y20{bottom:222.970000pt;}
.y1f{bottom:256.435867pt;}
.y1e{bottom:273.168933pt;}
.y1d{bottom:289.901867pt;}
.y1c{bottom:306.634933pt;}
.y1b{bottom:323.367867pt;}
.y1a{bottom:356.833867pt;}
.y19{bottom:373.566800pt;}
.y18{bottom:407.032800pt;}
.y16{bottom:440.498800pt;}
.y15{bottom:490.697867pt;}
.y14{bottom:773.608133pt;}
.y13{bottom:790.082667pt;}
.y12{bottom:806.557200pt;}
.y11{bottom:834.919333pt;}
.y10{bottom:857.208533pt;}
.yf{bottom:880.466667pt;}
.ye{bottom:903.724933pt;}
.yd{bottom:925.303333pt;}
.yb{bottom:941.778000pt;}
.ya{bottom:958.252533pt;}
.y9{bottom:974.727067pt;}
.y8{bottom:991.201600pt;}
.y6{bottom:1007.676267pt;}
.y4{bottom:1024.150800pt;}
.h4{height:15.807867pt;}
.h7{height:15.808000pt;}
.h8{height:16.066267pt;}
.h9{height:16.066400pt;}
.h3{height:26.244141pt;}
.hc{height:26.571250pt;}
.h2{height:30.091797pt;}
.hb{height:30.694375pt;}
.ha{height:34.359375pt;}
.h5{height:38.672812pt;}
.h6{height:38.724688pt;}
.h1{height:1078.666667pt;}
.h0{height:1154.646667pt;}
.w10{width:58.256133pt;}
.w5{width:63.517067pt;}
.wb{width:90.874000pt;}
.w13{width:101.396000pt;}
.w9{width:122.439733pt;}
.wa{width:122.439867pt;}
.wc{width:127.700800pt;}
.w14{width:147.849467pt;}
.w4{width:149.796800pt;}
.w8{width:156.110000pt;}
.w6{width:158.214267pt;}
.w7{width:213.980533pt;}
.w3{width:222.398000pt;}
.w2{width:279.216400pt;}
.w12{width:287.634000pt;}
.wf{width:382.331200pt;}
.w11{width:446.514933pt;}
.we{width:532.794667pt;}
.wd{width:661.162133pt;}
.w1{width:676.666667pt;}
.w0{width:762.681467pt;}
.x5{left:2.402933pt;}
.x1e{left:7.142400pt;}
.x16{left:10.360133pt;}
.x12{left:14.432000pt;}
.x1b{left:16.194533pt;}
.x18{left:18.844933pt;}
.x19{left:20.358667pt;}
.x1a{left:21.742400pt;}
.x8{left:24.255200pt;}
.x1d{left:25.791467pt;}
.xc{left:27.486533pt;}
.xb{left:31.640933pt;}
.x20{left:34.347600pt;}
.xa{left:39.026533pt;}
.x11{left:42.775067pt;}
.x0{left:49.333333pt;}
.x4{left:57.072800pt;}
.xe{left:92.431333pt;}
.x10{left:121.209067pt;}
.x17{left:143.917200pt;}
.x3{left:175.786533pt;}
.x14{left:185.440267pt;}
.xd{left:213.849467pt;}
.x2{left:224.504267pt;}
.x13{left:284.451200pt;}
.x15{left:296.256000pt;}
.x1{left:300.102000pt;}
.x6{left:345.373467pt;}
.x1c{left:465.500933pt;}
.x9{left:504.254400pt;}
.x1f{left:557.998933pt;}
.x7{left:568.438133pt;}
.xf{left:627.360933pt;}
}
