{% extends "base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/static/js/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/js/sweetalert.min.css">

<section class="container">
  <div class="col-md-10">
    <div class="col-md-12">
      <div class="box">

        <div class="box-body">
        <label><b style="font-family:Comic Sans MS, cursive, sans-serif;color:orange"><i class="fa fa-key"></i> Change Password  </b></label><br>
         <!--  <label>Old Password:</label><br>
          <input type="text" class="control-group col-md-12" id="old_password" ><br>
 -->
          <label><b>New Password:</b></label><br>
          <input type="password" class="control-group col-md-8" id="new_password" style="border-radius:12px;" clear >
          <img src="https://cdn0.iconfinder.com/data/icons/feather/96/eye-16.png" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" /><br>

          <label><b>Confirm Password:</b></label><br>
          <input type="password" class="control-group col-md-8" id="confirm_password" style="border-radius:12px;">
          <img src="https://cdn0.iconfinder.com/data/icons/feather/96/eye-16.png" onmouseover="mouseoverPasss();" onmouseout="mouseoutPasss();" /><br>
          <br>
          <button type="button" id="change" class="btn btn-info">Update</button>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $('#change').click(function(){
   var old_pwd  = $('#old_password').val();
   var new_pwd  = $('#new_password').val();
   var conf_pwd = $('#confirm_password').val();
   var userID   = '{{user_ID}}'
   if(new_pwd=='' || conf_pwd==''){
    swal("Error","Dont blank.","error")
    return
   }

   if((conf_pwd.length)<'8'){
    swal('Error',"Password must be at least 8 characters","error")
    return 0;
   }

     $.ajax({
      url: '/it/change_update_details',
      type: 'GET',
      datatype: 'JSON',
      data: {
        'new_pwd'  : new_pwd,
        'userID'   : userID,
        //'old_pwd'  : old_pwd,
        'conf_pwd' : conf_pwd
      },

      success: function(obj){
        obj=JSON.parse(obj);
        if(obj=="not_match"){
          swal("Error","Your Password does not match.Please try again.","error")

        }

        if(obj=="done"){
          swal("Succes","Password updated.","success")
        }

      },
      error: function(err){
        alert(JSON.stringify(err,null,4));
      }
    });
    })



</script>

<script language="Javascript" type="text/javascript">

        function onlyAlphabets(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                    return true;
                else
                    return false;
            }
            catch (err) {
                alert(err.Description);
            }
        }


  function mouseoverPass(obj) {
  var obj = document.getElementById('new_password');
  obj.type = "text";
  }
  function mouseoutPass(obj) {
    var obj = document.getElementById('new_password');
    obj.type = "password";
  }

   function mouseoverPasss(obj) {
    var obj = document.getElementById('confirm_password');
    obj.type = "text";
    }
  function mouseoutPasss(obj) {
    var obj = document.getElementById('confirm_password');
    obj.type = "password";
  }


    </script>



{% endblock %}
