{% extends "base.html" %}
{% block content %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/static/js/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/js/sweetalert.min.css">
<link href="/static/select2/select2.css" rel="stylesheet"/>
<script src="/static/select2/select2.full.js"></script>
<script src="/static/select2/select2.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


<center><i id="loader" class="fa fa-spinner fa-spin fa-4x" style="color:brown;display:none;"></i></center>
<div class="col-md-12" >   
	<h3 id="header"><center>Ship Address Entry</center></h3>	
	<div class="container">
	    <div class="row">
	        <div class="col-md-10" >
	            <div class = "form-group">	                
	                <select class="form-control chosen-select" id="ship_list">
	                  <option value=0>Select Ship Name</option>
	                  {%for sh in ship_array%}
	                  <option value={{sh.select_ship_name}}>{{sh.select_ship_name}}</option>
	                  {%endfor%}
	                </select>	               
	            </div>

	            <div class="input-group">
			      <span class="input-group-addon" style="width:201px">Address</span>			    
			      <textarea cols="90"  id="address" style="resize:none";></textarea>
			    </div>

			    <div class="input-group">
			      <span class="input-group-addon" style="width:20%">E-Mail</span>
			      <input id="e_mail" type="email" class="form-control col-md-9">
			    </div>

			    <div class="input-group">
			      <span class="input-group-addon" style="width:20%">E-Mail (CC)</span>
			      <input id="e_mail_cc" type="email" class="form-control col-md-9">
			    </div> 

			    <div class="input-group">
			      <span class="input-group-addon" style="width:20%">Voyage Manager</span>			    
			      <input id="e_vm_name" type="text" class="form-control col-md-9">
			    </div>        
			    <p></p>
				<button class="btn btn-success" id="submit_invoice">Submit</button>
	        </div>	       
	    </div>
	</div>	
</div>
<p></p>
<div class="col-md-12">
	<div class="container">
	    <div class="row">
	    	<table id="address_tracker" class="table table-striped table-bordered bootstrap-datatable ">
				<thead>
					<tr>
						<th><font color="black">S.No</font></th>
			        	<th><font color="black">Ship Name</font></th>
			        	<th><font color="black">Address</font></th>
			        	<th><font color="black">Email</font></th>
			        	<th><font color="black">Email (CC)</font></th>
			        	<th><font color="black">Voyage Manager</font></th>
						<th><font color="black">Client</font></th>						
						<th><font color="black">Edit</font></th>						
					</tr>
				</thead>
					<tbody id="ship_address"></tbody>
		    </table>	              
	    </div>
	</div>	
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">    
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Address</h4>
        <button type="button" class="close" id="close_modal" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
	    <div class="form-group">
	        <label>Ship Name</label>
	        <div id="e_id"></div>
	        <input type="text" class="form-control" id="e_ship_name" >
	    </div>
	    <div class="form-group">
	        <label>Address</label>
	        <input type="text" class="form-control" id="e_address" >
	    </div>
	    <div class="form-group">
	        <label>E-Mail</label>
	        <input type="text" class="form-control" id="e_mai" >
	    </div>
	    <div class="form-group">
	        <label>E-Mail CC</label>
	        <input type="text" class="form-control" id="e_mail_c" >
	    </div>
	    <div class="form-group">
	        <label>Voyage Manager</label>
	        <input type="text" class="form-control" id="e_vm_name_c">
	    </div>

	       <div class="form-group">	            
	            <button type="button" class="btn btn-primary" id="update_invoice">Submit</button>
	        </div>
        </div>
    </div>
  </div>
</div>


<script type="text/javascript">
	$(document).on('change','#ship_list',function(){		 
		//select_ship();
	});


function select_ship(){
	$('#loader').css('display','');
	$('#ship_list').css('display','none');
	$('#invoice_tracker').css('display','none');
	$('#header').css('display','none');
	var ship = $('#ship_list').val();		
	$.ajax({
      url: '/it/select_ship_address/',
      dataType: 'json',
      type: 'get',
      data:
      { 
      	'shipID' : ship,
      },
      success : function(obj){	      	
        $('#ship_address').empty();
        $('#loader').css('display','none');
        $('#ship_list').css('display','');
        $('#invoice_tracker').css('display','');
        $('#header').css('display','');

        for(var i=0;i<obj['select_ship'].length;i++){	        	
        	$('#ship_address').append('<tr><td>'+obj['select_ship'][i]['s_no']+'</td><td>'+obj['select_ship'][i]['ship_name']+'</td><td id="edit_address">'+obj['select_ship'][i]['address']+'</td><td class="edit_email">'+obj['select_ship'][i]['email']+'</td><td id="edit_email_cc">'+obj['select_ship'][i]['email_cc']+'</td><td>'+obj['select_ship'][i]['vm_name']+'</td><td>'+obj['select_ship'][i]['client']+'</td><td><button class="btn btn-info '+obj['select_ship'][i]['email_cc']+'" id="'+obj['select_ship'][i]['ship_id']+'" name="'+obj['select_ship'][i]['address']+'" value="'+obj['select_ship'][i]['email']+','+obj['select_ship'][i]['ship_name']+','+obj['select_ship'][i]['vm_name']+'" data-toggle="modal" data-target="#myModal">Edit</button></td></tr>')
	        	$('#'+obj['select_ship'][i]['ship_id']).click(function(){
				var ship_id   = $(this).attr('id');
				var address   = $(this).attr('name');
				var email     = $(this).attr('value');
				var ship	  = email.split(',')
				var ship_name = ship[1];
				var mail 	  = ship[0];
				var vm_name	  = ship[2];				
				var emailc    = $(this).attr('class');
				var email_cc  = emailc.replace('btn btn-info','');
				$('#e_address').val(address);
				$('#e_mai').val(mail);				
				$('#e_mail_c').val(email_cc);				
				$('#e_ship_name').val(ship_name);
				$('#e_id').val(ship_id);
				$('#e_vm_name_c').val(vm_name);

		        $('#update_invoice').click(function(){	        		
					var e_address = $('#e_address').val();
					var e_mail    = $('#e_mai').val();
					var e_mail_c  = $('#e_mail_c').val();
					var e_id      = $('#e_id').val();
					var vm 		  = $('#e_vm_name_c').val();
					$.ajax({
					  url: '/it/update_ship_address/',
					  dataType: 'JSON',
					  type: 'GET',
					  data:
					  { 
					  	'address' : e_address,
					  	'email'   : e_mail,
					  	'email_c' : e_mail_c,
					  	'id' 	  : e_id,
					  	'vm'      : vm,
					  },
					  success : function(obj){	      	
					    if(obj=="done")
				        {
					      var btn = "button";
					      swal({
					        title : "<b>Address successfully updated.</b>",
					        text  : '<button type="' + btn + '" id="btnA" >OK</button> ',
					        html  : true,
					        showConfirmButton: false
					      });
					      $(document).on('click', "#btnA", function(){
					        //window.location.href=window.location.href;
					      });
					    }


					  },
					  error : function(){

					  }
					});
				})
			})
	      }

	      table = $('#address_tracker').DataTable({
            "scrollY"        : '500px',
            "bPaginate"       : false,
            "scrollX"         : true,
            "scrollCollapse"  : false, 
            "bFilter"         : true,
            paging: false,
            info: false
          });
          
          $('#ship_address_filter').hide();
          $('#address_tracker').DataTable().search( '' ).draw();
          $(".dataTable").css("margin-bottom","0px");   
      },
      error : function(){

      }
    });      
}



$(document).ready(function(){
	select_ship();
	$("#ship_list").select2();	
})

</script>	


<script type="text/javascript">
	$('#submit_invoice').click(function(){		
		var ship_name = $('#select2-ship_list-container').html();		
		var address      = $('#address').val();		
		var e_mail       = $('#e_mail').val();
		var e_mail_cc    = $('#e_mail_cc').val();
		var e_vm_name    = $('#e_vm_name').val();

		if(ship_name=='Select Ship Name'){
			swal("Error","Please Fill up the Form","error");
			return 0;
		}
		$.ajax({
			  url: '/it/submit_ship_address_for_address/',
			  dataType: 'json',
			  type: 'get',
			  data:
			  { 
			  	'ship_list': JSON.stringify(ship_name),
			  	'address': JSON.stringify(address),
			  	'email': JSON.stringify(e_mail),
			  	'email_c': JSON.stringify(e_mail_cc),
			  	'vm_name' : JSON.stringify(e_vm_name),
			  },
			  success : function(obj){
			    if(obj=="done")
		        {
			      var btn = "button";
			      swal({
			        title : "<b>Ship's address successfully inserted.</b>",
			        text  : '<button type="' + btn + '" id="btnA" >OK</button> ',
			        html  : true,
			        showConfirmButton: false
			      });
			      $(document).on('click', "#btnA", function(){
			        
			      });
			    }			    
		  },
		  error : function(){

		 }
		});
	})
	
</script>

{% endblock %}
