{% extends "base.html" %}
{% block content %}    

<link rel="stylesheet" media="screen" href="/static/handsontable-master/dist/handsontable.full.css">
<script src="/static/style/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="/static/handsontable-master/dist/handsontable.full.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style type="text/css">
	textarea {
   resize: none;
}


.tooltip {
  height: 30px;
  color: orange;
  background: #fff;
  border: 2px solid #dedede;
  line-height: 30px;
  margin: 0 10px;
  box-shadow: 2px 2px 5px #ddd;
  z-index: 200;
}

textarea::placeholder {
  font-size: 10px;  
}
</style>

<script type="text/javascript">
  $(function(){
    $("#invoice_date").datepicker();
	$("#period_date").datepicker();
  });
</script>

<br>
<center style="font-size: 10px;font-weight: bold;color:red">Manual Entry (Poompuhar/TANGEDCO Passage (B),Report ID (C), Otherwise keep 0 in this column)</center>
  <button  type="button"  class="btn btn-warning" style="float: right;margin-right: 141px;margin-top: -40px;cursor: pointer;font-size: 12px" data-toggle="modal" data-target="#exampleModal" >View Example</button>
  <div style="float: right;margin-right: 286px;margin-top:-40px;font-size: 12px;">New Client</div><input type="checkbox" name="New Client" id="other_client" value="New Client" style="float: right;margin-right: 269px;margin-top:-38px" data-toggle="modal" data-target="#myModal" style="background-color:#28a745" >

<div class="container">
	<div class="col-md-12">
	
    <textarea id="address" style="border:solid 1px grey;margin-left: 15px;width: 939px;height: 91px;font-size: 12px" placeholder="Enter Address"></textarea>
    <center><i id="loaders" class="fa fa-spinner fa-spin fa-4x" style="color:brown;display:none;"></i></center>
    <div><textarea style="width: 87%;height: 50px;margin-left: 15px;font-size: 12px" id="txt_remarks" placeholder="Remarks"></textarea></div>   
    <table border="1" style="font-size: 10px;margin-left: 15px;" id="table_entry">
		<thead>
		  <tr>
		    <th>Project Name</th>
		    <th>Currrency Type</th>
		    <th>Invoice #</th>
		    <th>Client Name</th>
		    <th id="show_pool_name">Account Tab </th>
		    <th>GTIN No.</th>
		    <th>V Manager</th>
		    <th style="display: none;" id="label_disch_port">Disch.Port</th>
		    <th style="display: none;" id="label_disch_date">Disch.Date</th>
		    <th style="display: none;" id="label_voyage_no">Voyage No</th>	
		    <th style="display: none;" id="label_nomination_date">Nomination Date</th>	    
		    <th>Entry Date</th>
		    <th>Period Date</th>
		    <!-- <th>Amt. Due</th> -->
		  </tr>
		</thead>
		<tbody style="font-size: 9px">
		  <tr>
		    <td><select class="form-control" id="select_proj_type" style="width: 84px;font-size: 10px">
		      <option value="0">SELECT</option>
		      <option value="BOSS">BOSS</option>
		      <option value="CHM">CHM</option>
		    </select></td>
		    
		    <td> 
		    	<select class="form-control" id="select_currency" style="width: 100px;font-size: 10px">
			      <!-- <option value="0">SELECT</option>
			      <option value="USD">USD</option>
			      <option value="INR">INR</option> -->
			      <option value="0">SELECT</option>
	          		{% for c in currency_details %}
	          			<option value="{{c.currency}}">{{c.currency}}</option>
	          		{% endfor %}
			    </select>
			</td>
		    <td><input type="text" id="edit_invoice_no" style="text-align: right;width: 64px;font-size: 10px;height: 38px;"></td>
		    <td><select id="client_list" class="form-control" style="width: 135px;font-size: 10px;display: "></select><input type="text" value="" id="edit_client_name" style="text-align: right;width: 164px;font-size: 10px;height: 38px;display: none"></td>
		    <td><center><i id="loader" class="fa fa-spinner fa-spin fa-2x" style="color:brown;display:none;"></i></center>
			<select class="form-control chosen-select" id="select_pool_name" style="display:none; text-align: left;width: 200px;font-size: 10px;height: 38px;"></select><input type="text" value="" id="edit_pool_n" style="text-align: right;width: 164px;font-size: 10px;height: 38px;display: none"></td>
		    <td><input type="text" name="" value="" id="edit_customer_gtin_no" style="text-align: right;width: 125px;font-size: 12px;height: 38px;"></td>
		    <td><input type="text" name="" value="" id="edit_vm_name" style="text-align: right;width: 64px;font-size: 12px;height: 38px;"></td>		    
		    <td id="show_disch_port" style="display: none;"><input type="text" name="" value="" id="edit_disch_port" style="text-align: right;width: 70px;font-size: 12px;height: 38px;background-color: #f5e8ba;"></td>
		    <td id="show_disch_date" style="display: none;"><input type="date" name="" value="" id="edit_disch_date" style="text-align: right;width: 92px;font-size: 12px;height: 38px;background-color: #f5e8ba;"></td>
		    <td id="show_voyage_no" style="display: none;"><input type="text" name="" value="" id="edit_voyage_no" style="text-align: right;width: 70px;font-size: 12px;height: 38px;background-color: #f5e8ba;"></td>
		    <td id="show_nomination_date" style="display: none;"><input type="date" name="" value="" id="edit_nomination_date" style="text-align: right;width: 92px;font-size: 12px;height: 38px;background-color: #f5e8ba;"></td>

		    <td><input type="text" id="invoice_date" value="" style="text-align: right;width: 70px;font-size: 12px;height: 38px;"></td>
		    <td><input type="text" id="period_date" value="" style="text-align: right;width: 70px;font-size: 12px;height: 38px;"></td>
		    <!-- <td class="total-value" style="white-space: nowrap"></td>     -->
		  </tr>
		</tbody>
		</table>	



		<div style="width: 100%; display: table;">
		    <div style="display: table-row">
		        <div style="width: 600px; display: table-cell;font-size: 12px"> <div class = 'handsontable col-md-12' data-original style="overflow-y: auto;overflow-x: auto;"  id = "invoice_entry"></div> </div>
	        	<div style="display: table-cell;">
        						    
		        		<p></p>
		        	 	<div class="row">
					      <div class="col-sm-12">
					        <button id="submit_other_invoice" class="btn btn-success btn-md center-block" style="width:105px;cursor:pointer">Submit</button>							
					        <div id="subtotal" style="font-size: 12px;font-weight: bold"></div>        
					      </div>
					    </div>
					    <center><i id="loader" class="fa fa-spinner fa-spin fa-4x" style="color:brown;display:none;"></i></center>
        			</div>
		    	</div>
			</div>
		</div>
	</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 185%;margin-left: -208px;">
      <div class="modal-header">        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">        
        <img src="/static/img/example.png" style="height: 490px;width: 870px;">   
        <div><img src="/static/img/sample.png" style="height: 240px;width:286px;margin-top: -565px;margin-left: 344px;"></div>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>


  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 185%;margin-left: -208px;">
      <div class="modal-header">
      	<h4 style="font-size: 12px">For New Client</h4>           
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	     
        <div class="input-group">
          	<span class="input-group-addon" style="width:35%;font-size: 12px">Client Name</span>          
          	<input id="e_client_name" type="text" class="form-control col-md-4" autocomplete="off">
        </div> 

        <div class="input-group">
          	<span class="input-group-addon" style="width:35%;font-size: 12px">Proj.Type</span>          
          	<select class="form-control col-md-4" id="e_proj_type" style="font-size: 12px">
          		<option value="0"></option>
          		<option value="CHM">CHM</option>
          		<option value="BOSS">BOSS</option>
          	</select>
        </div> 

        <div class="input-group">
          	<span class="input-group-addon" style="width:35%;font-size: 12px">Currency Type</span>          
          	<select class="form-control col-md-4" id="e_currency_type" style="font-size: 12px">
          		<option value="0"></option>
          		{% for c in currency_details %}
          			<option value="{{c.currency}}">{{c.currency}}</option>
          		{% endfor %}
          	</select>
        </div> 

        <div class="input-group">
          	<span class="input-group-addon" style="width:35%;font-size: 12px">Voyage Manager</span>          
          	<input id="e_vm_name" type="text" class="form-control col-md-4">
        </div> 

        <div class="input-group">
          	<span class="input-group-addon" style="width:35%;font-size: 12px">Price</span>          
          	<input id="e_price" type="text" class="form-control col-md-4" autocomplete="off">
        </div> 

        <div class="input-group">
          	<span class="input-group-addon" style="width:35%;font-size: 12px">USD to INR Conv. Rate</span>          
          	<input id="e_rate" type="text" class="form-control col-md-4" autocomplete="off">
        </div> 

        <div class="input-group">
          	<span class="input-group-addon" style="width:35%;font-size: 12px">Address</span>          
          	<textarea id="e_address" type="text" class="form-control col-md-4"></textarea> 
        </div> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="refresh_btn">Close</button>
        <button type="button" class="btn btn-primary" id="insert_new_client">SUBMIT</button>
      </div>
    </div>


  </div>
</div>



<script type="text/javascript">
	$('#insert_new_client').click(function(){
		var e_rate 			= $('#e_rate').val();
		var e_price 		= $('#e_price').val();
		var e_address 		= $('#e_address').val();
		var e_vm_name 		= $('#e_vm_name').val();
		var e_proj_type 	= $('#e_proj_type').val();		
		var e_client_name 	= $('#e_client_name').val();
		var e_currency_type = $('#e_currency_type').val();
		if(e_client_name==''){
			alert('Please Select New Client Name');
			$('#e_client_name').focus();
			$('#e_client_name').css('background-color','#f56f5d');
			return;
		}




		$.ajax({
		    url: '/it/insert_for_new_client/',
		    dataType: 'JSON',
		    type: 'GET',
		    data:
		    { 
		      	'e_rate'			: e_rate,
				'e_price'			: e_price,
				'e_vm_name' 		: e_vm_name,		
				'e_address'			: e_address,
				'e_proj_type'		: e_proj_type,	
				'e_client_name'		: e_client_name,
				'e_currency_type' 	: e_currency_type,	
		    },
		    success : function(obj){
		      alert('Done')
		    },
		    error : function(err){
		      console.log(JSON.stringify(err,null,4));
		    }
		});
	})





$('#e_client_name').change(function(){
	$('#e_client_name').css('background-color','white');
})

	var lastday = function(y,m){
		return  new Date(y, m, 0).getDate();
	}

	function get_rob(){
	$("#invoice_entry").empty()
	container = document.getElementById('invoice_entry');
	rob = [];
	rob = {
		'heading' 	  : 'Tech consultancy through BOSS',	
		'description' : 0.0,
		'unit_cost'	  : 1,
    	'passage'     : 0,
		'qty'    	  : 1,	
    	'report_id'   : 0,
		'rate_inr'    : 1,
		'amount' 	  : 0.0,	
	};

	colHeaders = ['Heading','Description (A)','Passage (B)/Entity','Report ID (C)','Price (D)','Qty (E)','Rate for INR (F)','Amount (G)']
	columns    = [{data : "heading"},{data : 'description'},{data : 'passage'},{data : 'report_id'},{data : 'unit_cost'},{data : 'qty'},{data : 'rate_inr'},{data : 'amount'}]

	VA_table6  = new Handsontable(container,{
		data         : rob,
		colHeaders   : colHeaders,		
		columns      : columns,
		minSpareRows : 10,
		rowHeaders   : true,	
		contextMenu  : true,
		afterGetColHeader: function(index, TH) {
		if (index === 1 && TH) {
			TH.children[0].title = 'For Poomphuar & TANGEDCO, otherwise keep 0'
		}

		if (index === 2 && TH) {
			TH.children[0].title = 'For Poomphuar & TANGEDCO, otherwise keep 0'
		}
     }	
	});



	VA_table6.updateSettings({
 		afterDocumentKeyDown:function(e){
 			var selection 	= VA_table6.getData();	
 			total_count   	= selection.length;
 			var dd 			= $('#period_date').val();
 			sd 				= (dd.split('/'));
 			g_month 		= (sd[1]);
 			gate_month 		= (parseInt(g_month))
 			amount 			= 0.0;
 			if(e.keyCode===13)
 			{
 				var datava5      = VA_table6.getData();
 				t=0
 				for (var i=0;i<total_count;i++){
 					const result = getDaysInCurrentMonth();
 					
 					
 					var cl = $('#client_list').val();

 					if(cl=='Oldendorff' || cl=='MM Solution' || cl=='ALADIN EXPRESS (ALX) DMCC'){	 					
	 					amount  = (parseFloat(selection[i]['unit_cost'])*parseFloat(selection[i]['qty'])*parseFloat(selection[i]['rate_inr']))/gate_month;	 					
	 				}else{
	 					amount  = (parseFloat(selection[i]['unit_cost'])*parseFloat(selection[i]['qty'])*parseFloat(selection[i]['rate_inr']));
	 				}
	 				
	 				try{
	 					datava5[i]['amount'] = amount.toFixed(2);
	 				}catch(err){
	 					datava5[i]['amount'] = 0;
	 				}

	 				if(datava5[i]['amount']=='NaN' || selection[i]['unit_cost']=='NaN' || selection[i]['qty']=='NaN' || selection[i]['rate_inr']=='NaN')
 					{
 						VA_table6.loadData(0);
 					}else{
		 				t+=amount
		 				$('#subtotal').text("Total Amount: "+t);

 						VA_table6.loadData(datava5);
 					}
	 			}
 			}
 		}
 	});
}


function getDaysInCurrentMonth() {
  const date = new Date();
  return new Date(
    date.getFullYear(),
    date.getMonth(),
    0,
  ).getDate();
}




get_rob();
$('#select_currency').change(function(){
  var type = $(this).val();
  var proj_name = $('#select_proj_type').val();
  if(type=='USD'){
    var type = 'USD';
    $('#show_customer_tin_no').css('display','none');
  }else if(type=='INR'){
    var type = 'INR';
    $('#show_customer_tin_no').css('display','');
  }
 
 $.ajax({
    url: '/it/get_other_invoice/',
    dataType: 'JSON',
    type: 'GET',
    data:
    { 
      'type'      : type,
      'proj_name' : proj_name,
    },
    success : function(obj){
      $('#client_list').empty();
      $('#edit_invoice_no').val(obj['get_invoice'][0]['invoice_no']);
      $('#client_list').append('<option id="0">Client Name</option>')
      for(var i=0;obj['cl_array'].length;i++){
      	$('#client_list').append('<option id='+obj['cl_array'][i]['id']+'>'+obj['cl_array'][i]['client_name']+'</option>')
      }
    },
    error : function(err){
      console.log(JSON.stringify(err,null,4));
    }
  });
})

var today = new Date();
var dd    = today.getDate();
var mm    = today.getMonth()+1; 
var yyyy  = today.getFullYear();
if(dd<10) 
{
  dd='0'+dd;
}

if(mm<10) 
{
  mm='0'+mm;
}
today = mm+'/'+dd+'/'+yyyy;
//$('#invoice_date').val(today);


$('#select_proj_type').change(function(){
  $('#edit_invoice_no').val('');
  $('#select_currency').val('');
})



  var date1   = new Date();
  var day1    = date1.getDate();
 
  
    var month1  = date1.getMonth();
    var month2  = date1.getMonth();
    var year1   = date1.getFullYear();


  if (month1 < 10) month1 	= "0" + month1;
  if (month1 < 10) month2 	= "0" + month2;
  if (day1 < 10) day1 		= "0" + day1;


  var today1  		= year1 + "-" + month1 + "-" + day1;
  last_days         = (lastday(year1,month1))
  last_dayx         = (lastday(year1,month2))
  first_date        = (month1)+'/01/'+year1;  
  last_date         = (month1)+'/'+last_days+'/'+year1;    
  var manual_date   = last_date;//'08/31/2021'; 
  get_invoice_date  = (month2)+'/'+last_dayx+'/'+year1;  
  var starting_date = last_date; //month2+'/01'+'/'+year1;

if(month2=='00'){
	gt = '12/31/'+parseInt(year1-1); 
    pt = '12/31/'+parseInt(year1-1);
    $('#invoice_date').val(gt);  
    $('#period_date').val(pt);
}else{
	$('#invoice_date').val(get_invoice_date);
    $('#period_date').val(starting_date);
} 


$('#submit_other_invoice').click(function(){
	var cl_name 		= $('#edit_client_name').val();
	var cl_name2 		= $('#client_list').val();
	var vl 				= $('#select_proj_type').val();
	var inv 			= $('#edit_invoice_no').val();
	var sc 				= $('#select_currency').val();
	var cl 				= $('#client_list').val();
	var vm_name     	= $('#edit_vm_name').val();

	var disch_port    	= $('#edit_disch_port').val();
	var disch_date    	= $('#edit_disch_date').val();
	var voyage_no    	= $('#edit_voyage_no').val();
	var nomination_date = $('#edit_nomination_date').val();

	
	if(vl==0){
		alert('Please Select all Fields');
		$('#select_proj_type').css('background-color','red');
		return 0;
	}
	
	if(inv==0){
		alert('Please Select all Fields');
		$('#edit_invoice_no').css('background-color','red');
		return 0;
	}

	if(sc==0){
		alert('Please Select all Fields');
		$('#select_currency').css('background-color','red');
		return 0;
	}

	if(cl==0){
		alert('Please Select all Fields');
		$('#client_list').css('background-color','red');
		return 0;
	}

	if(vm_name==0){
		alert('Please Select all Fields');
		$('#edit_vm_name').css('background-color','red');
		return 0;
	}

	if(cl_name!=''){
		client_name = cl_name
	}else{
		client_name = cl_name2
	}

	//$('#loader').css('display','');
	data2		   = VA_table6.getData();
	var invoice_no = $('#edit_invoice_no').val(); 
	var proj_name  = $('#select_proj_type').val(); 
	var curr_type  = $('#select_currency').val();
	var vm_name    = $('#edit_vm_name').val();
	var in_date    = $('#invoice_date').val();
	var period_dat = $('#period_date').val();//$('#period_date').val();
	var cl_name    = client_name;//$('#edit_client_name').val();
	var gtin_no    = $('#edit_customer_gtin_no').val();
	var address    = $('#address').val();
	var pool_name  = $('#select_pool_name').val();
	var tt_remarks = $('#txt_remarks').val();
	$.ajax({
	url: '/it/submit_other_invoice/',
	dataType: 'JSON',
	type: 'POST',
	data:
	{
	  'table_details'  : JSON.stringify(data2),
	  'invoice_no'     : invoice_no,
	  'proj_name'      : proj_name,
	  'curr_type'      : curr_type,
	  'vm_name'        : vm_name,
	  'in_date'        : in_date,
	  'cl_name'        : cl_name,
	  'gtin_no'        : gtin_no,
	  'address'        : address,
	  'pool_name'      : pool_name,
	  'period_dat'     : period_dat,
	  'disch_port'     : disch_port,
	  'disch_date'     : disch_date,
	  'voyage_no'      : voyage_no,
	  'nominate_date'  : nomination_date,
	  'tt_remarks'     : tt_remarks,
	},
	success:function(obj){
	  $('#loader').css('display','none');
	  alert('Done');
	  location.reload();	  
	},
	error:function(err){
	  console.log(JSON.stringify(err,null,4));
	}
  });
})

$('#select_currency').change(function(){
	$('#select_currency').css('background-color','white');
})
$('#select_proj_type').change(function(){
	$('#select_proj_type').css('background-color','white');
})

$('#edit_client_name').change(function(){	
	var cl_name    = $(this).val();	
	if(cl_name=='Shell' || cl_name =='shell'){
		$('#show_pool_name').css('display','');
		//$('#loader').css('display','');
		$('#select_pool_name').css('display','');
		$('#edit_vm_name').css('background-color','white');
	}else{
		$('#show_pool_name').css('display','none');		
		$('#select_pool_name').css('display','none');
		$('#edit_vm_name').css('background-color','white');
		return;
	}	
})
//edit_pool_n

$('#select_proj_type').change(function(){
	var proj_name = $(this).val();
	if(proj_name=='CHM'){
		$('#table_entry').css('margin-left','-107px');
		$('#label_disch_port').css('display','');
		$('#label_disch_date').css('display','');
		$('#label_voyage_no').css('display','');
		$('#show_disch_port').css('display','');
		$('#show_disch_date').css('display','');
		$('#show_voyage_no').css('display','');
		$('#label_nomination_date').css('display','');
		$('#show_nomination_date').css('display','');
		$('#select_pool_name').css('display','');
	}else{
		$('#table_entry').css('margin-left','15px');
		$('#label_disch_port').css('display','none');
		$('#label_disch_date').css('display','none');
		$('#label_voyage_no').css('display','none');
		$('#show_disch_port').css('display','none');
		$('#show_disch_date').css('display','none');
		$('#show_voyage_no').css('display','none');
		$('#label_nomination_date').css('display','none');
		$('#show_nomination_date').css('display','none');
		$('#select_pool_name').css('display','');

	}

})

// $('#client_list').change(function(){	
// 	var cl_name  = $(this).val();
// 	if(cl_name=='Shell' || cl_name =='shell'){
// 		$('#show_pool_name').css('display','');		
// 		$('#select_pool_name').attr('disabled', false);
// 	}else{
// 		$('#show_pool_name').css('display','');	
// 		$('#select_pool_name').attr('disabled', true);
// 		return;
// 	}	
// })

$('#client_list').change(function(){
	var cl_name  = $(this).val();
	var proj_name  = $('#select_proj_type').val(); 
	var curr_type  = $('#select_currency').val();
	$('#loader').css('display','');
	$.ajax({
	url: '/it/get_pool_details/',
	dataType: 'JSON',
	type: 'GET',
	data:
	{
		'cl_name' : cl_name,
		'proj_name' : proj_name,
		'curr_type' : curr_type,
 	},
	success : function(obj){
		$('#loader').css('display','none');
		$('#select_pool_name').css('display','');
	 	$('#select_pool_name').empty();

		$('#select_pool_name').append('<option value ="0">Account Tab</option>');
  		for(var i=0;i<obj.length;i++){
  			$('#select_pool_name').append('<option id='+obj[i]['ship_class']+'>'+obj[i]['ship_class']+'</option>')
  		}	  
	},
	error : function(err){
	  console.log(JSON.stringify(err,null,4));
	}
  });
})


$('#other_client').change(function() {
    if ($('#other_client').prop('checked')) {
        //$('#client_list').css('display','none');
		//$('#edit_client_name').css('display','');		
    } else {
       //$('#client_list').css('display','');
	   //$('#edit_client_name').css('display','none');	   
    }
});


$('#select_pool_name').change(function(){
	var pl_name    = $(this).val();
	var cl_name1   = $('#client_list').val();
	var proj_name  = $('#select_proj_type').val(); 
	var curr_type  = $('#select_currency').val();
	var pool_name  = $('#select_pool_name').val();
	$('#loaders').css('display','');
	$.ajax({
		url: '/it/get_address_details/',
		dataType: 'JSON',
		type: 'GET',
		data:
		{
		 	'cl_name' 	: JSON.stringify(cl_name1),
		 	'proj_name' : JSON.stringify(proj_name),
		 	'curr_type' : JSON.stringify(curr_type),
		 	'pool_name' : JSON.stringify(pool_name),
	 	},
		success : function(obj){
			if(obj['get_array'][0]['address']=='no'){
				alert("Please Check Address");
				$('#address').val("");
				$('#loaders').css('display','none');
				$('#address').focus();
				return 0;
			}

			$('#loaders').css('display','none');
			//console.log(obj['get_array'][0]['address'])
			$('#address').val(obj['get_array'][0]['address'])  //.split(",").join("\n")
			$('#edit_vm_name').val(obj['get_array'][0]['vm_name'])  //.split(",").join("\n")
			$('#edit_customer_gtin_no').val(obj['get_array'][0]['cgst'])
		},
		error : function(err){
		  console.log(JSON.stringify(err,null,4));
		  
		}
	});
})


$('#refresh_btn').click(function(){
	location.reload();
})



function isValid(input) {
    const regex = /^(?!.*&.*[a-zA-Z])(?!.*[a-zA-Z].*&).*$/;
    return regex.test(input);
}


 document.getElementById('e_client_name').addEventListener('input', function() {
            const input = this.value;
            

            if (isValid(input)) {
                ''
            } else {
                alert('No, Cannot use "&" with names');
            }
        });

</script>

{% endblock %}
  
